.container{
    margin-bottom: 65px;
}
.orange_bg{
    background-color: burlywood;
    border-radius: 12px;
}

.carousel-item{
    padding: 20px 40px;
}
.price{
    color: darkblue;
}
.b{
    background-image: linear-gradient(to bottom, #881b46 0%, #FF136F 100% );
    color: aliceblue;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: progress;
}
.c1{
background-color: cadetblue;
padding: 10px 30px;
border-radius: 12px;

}
.c2{
background-color: coral;
padding: 10px 30px;
border-radius: 12px;
}
.c3{
    background-color: darkcyan;
    padding: 10px 30px;
    border-radius: 12px;
}
.cat h1{
    color: aliceblue;
}
.cat img{
    width: 100px;
    
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px blueviolet;
}
.card-footer{
    background-color: white;
    border-top:none ;
}
.s{
    background-color: rgb(49, 0, 139);
     color: aliceblue;
}
#subscribe{
    height: 300px;
}
footer{
    text-align: center;
}